{
  "extends": "airbnb",
  "globals": {
    "TransferRateMonitorCommon": true,
    "TransferRateProtocol": true,
    "CustomProtocol": true,
    "DDPCommon": true
  },
  "rules": {
    "indent": [ 2, 4, { "SwitchCase": 1 } ],
    "comma-dangle": [ 0 ]
  }
}